.container {
  width: 46rem;
  justify-content: center;
  margin: 0 auto;
}

.newTask {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  transform: translateY(-50%);
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.taskList > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}